// @mixin noArrowsNumberInput {
//   input {
//     &::-webkit-outer-spin-button,
//     &::-webkit-inner-spin-button {
//       -webkit-appearance: none;
//       margin: 0;
//     }
//     &[type='number'] {
//       -moz-appearance: textfield;
//     }
//   }
// }

.bookCollection {
  &__addBook {
    width: 90%;
    margin: 0 auto;
    &__bookForm {
      &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .addBookForm_element {
          flex-basis: 100%;
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          label {
            font-size: $font-size-p;
            flex-basis: 25%;
            &::first-letter {
              text-transform: capitalize;
            }
          }
          input {
            font-size: $font-size-p;

            flex: 1;
          }
          select {
            font-family: $font-basic;
            font-size: $font-size-p;
            min-width: 0;
            flex: 1;

            text-align: center;
          }
          &_cover-upload {
            display: flex;
            justify-content: space-between;
            label {
              font-size: $font-size-p;
              flex-basis: 25%;
            }
            input {
              min-width: 0;
            }
          }
          + .addBookForm_element {
            margin-top: 2px;
          }
          &_cover:nth-child(1) {
            // max-width: 100px;
            // max-height: 200px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &__options {
      width: 70%;
      margin: 20px auto;

      &_button {
      }
    }
    &__upload {
      margin-top: 20px;
      p {
        text-align: justify;
      }
      &_file-details {
      }
      form {
        margin-top: 20px;
      }
      &_missing {
        > p {
          text-transform: uppercase;
          text-align: center;
          line-height: 110%;
        }
        > div {
          > p {
            text-transform: uppercase;
            margin-top: 10px;
            padding-bottom: 3px;
            border-bottom: 1px solid $fourth-color;
          }
        }
      }
      &_submit {
        &.collection_button {
        }
      }
      &_uploader {
      }
    }
  }
}

// .add_book {
//   .upload {
//   }
//   .add_book__form {
//     &_element {
//       &__pages {
//         @include noArrowsNumberInput();
//       }
//       &__firstEdition {
//         @include noArrowsNumberInput();
//       }
//     }
//   }
// }
@media (min-width: $breakpoint-700) {
  .bookCollection {
    &__addBook {
      width: 75%;
      &__bookForm {
        &__form {
          .addBookForm_element {
            + .addBookForm_element {
              &_isCollection {
                margin: 8px 0 4px;
              }
              // flex-grow: 1;
              // flex-basis: 60%;
            }
            // input{}
            // select{}
          }
        }
      }
    }
  }
}
@media (min-width: $breakpoint-1025) {
  .bookCollection {
    &__addBook {
      width: 90%;
      &__bookForm {
        &__form {
          flex-wrap: wrap;
          justify-content: space-between;
          .addBookForm_element {
            + .addBookForm_element {
              flex-basis: 48%;
              margin-top: 6px;

              &_cover {
                // width: 500px;
                // flex-basis: 100%;
                &-upload {
                  flex-basis: 100%;
                }
              }
              &_title {
                flex-basis: 100%;
                justify-content: space-between;
                label {
                  flex-basis: 12%;
                }
                input {
                  flex: 1;
                }
              }
              &_genres {
                // flex-basis: 100%;plo
              }

              &_isCollection {
                flex-basis: 80%;
                margin: 12px 0 8px;
              }
              // flex-grow: 1;
              // flex-basis: 60%;
            }
            // input{}
            // select{}
          }
        }
      }
    }
  }
}
@media (min-width: $breakpoint-1400) {
  .bookCollection {
    &__addBook {
      width: 70%;
    }
  }
}
