@mixin noArrowsNumberInput {
  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

.add_book {
  .upload {
  }
  .add_book__form {
    &_element {
      &__pages {
        @include noArrowsNumberInput();
      }
      &__firstEdition {
        @include noArrowsNumberInput();
      }
    }
  }
}
