.addBookSeries {
	&.bookCollection__addBookSeries {
	}
	&__form_element {
		> label {
			min-width: 0;
			flex-basis: 25%;
		}
		input {
			min-width: 0;
			// flex-basis: 60%;
		}
		&.booksInBookSeries {
			margin-top: 10px;
		}
		.booksInBookSeries {
			display: flex;
			flex-wrap: wrap;

			&_book {
				display: flex;
				flex-wrap: wrap;
				flex-basis: 100%;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 5px;
				&-tome {
					flex-basis: 22%;

					label {
						text-transform: capitalize;
						margin-right: 10px;
					}
					input {
						min-width: 0;
						width: 30px;
						text-align: center;
					}
				}
				.select_wrapper {
					flex-basis: 77%;
					justify-content: flex-start;

					label {
						flex-basis: 20%;
					}
					&-inner {
						min-width: 0;
						flex-basis: 80%;
						select {
							min-width: 0;
							width: 70%;
						}
					}
				}
			}
		}
	}
}
