.bookCollection {
  &__books {
    width: 100%;
    &__filter {
      width: 100%;
      &_hideButton {
        width: 90%;
        margin: 5px auto 5px;
      }
      &_showButton {
        width: 90%;
        margin: 0 auto;
      }
    }
    &__filters {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      > div:nth-last-child(1) {
        flex-basis: 90%;
        margin: 10px 0;
      }
    }
  }
}
