.bookCollection {
  max-width: 1400px;
  &__books {
    // width: 100%
    &__list.bookCollection__list {
      display: block;
    }
    &__filter {
      // width: 100%;
      &_hideButton {
        width: 90%;
        margin: 5px auto 5px;
        font-weight: bold;
        letter-spacing: 1px;
      }
      &_showButton {
        width: 90%;
        margin: 0 auto;
        font-weight: bold;
        letter-spacing: 1px;
      }
      &_filters {
        width: 90%;
        margin: 0 auto;
        > div:nth-last-child(1) {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-1025) {
  .bookCollection {
    &__books {
      width: 90%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      &__filter {
        flex-basis: 30%;
        &_filters {
          width: 100%;
        }
      }
      &__list {
        flex-basis: 55%;
      }
    }
  }
}

@media (min-width: $breakpoint-1201) {
  .bookCollection {
    &__books {
      &__filter {
        flex-basis: 25%;
      }
      &__list {
        // flex-basis: 55%;
      }
    }
  }
}
// @media (min-width: $breakpoint-1400) {
//   .bookCollection {
//     &__books {
//       &__filter {
//       }
//       &__list {
//       }
//     }
//   }
// }
