.book_collection {
  width: 90%;
  margin: 10px auto;
  .list {
    border: none;

    &__tiles {
      margin: 10px auto;
      &__single_tile {
        margin-top: 5px;
      }
    }
  }
  a.router_link {
    color: $fourth-color;
    text-decoration: none;
  }
}
.invalid {
  border: red 1px solid;
}
