.book_collection {
  border: solid white 1px;
  width: 90%;
  margin: 10px auto;
  .list {
    border: none;

    &__tiles {
      margin: 10px auto;
      &__single_tile {
        margin-top: 5px;
      }
    }
  }
}
