.book {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &_title {
    flex-basis: 100%;
    h4 {
      width: 100%;
      text-align: center;
      font-size: $font-size-medium;
    }
  }
  &__cover {
    flex-basis: 20%;
    margin: 15px 0;
    &_img {
      width: 100px;
      border: 1px green solid;
      height: 150px;
      img {
      }
    }
  }
  &__data {
    flex-basis: 70%;
    &_element {
      font-size: calc($font-size-medium * 0.8);
      margin: 5px 0;
      // border: 1px red solid;
      flex-basis: 60%;
      display: flex;

      &_key {
        flex-basis: 30%;
        // border: 1px white solid;
      }
      &_value {
        // border: 1px white solid;
      }
    }
  }
}
