.bookCollection {
  margin: 10px auto;
  // height: 100%;
  .list {
    border: none;

    &__tiles {
      margin: 10px auto;
      &__single_tile {
        margin-top: 5px;
      }
    }
  }
  a.router_link {
    color: $fourth-color;
    text-decoration: none;
  }
}
.invalid {
  border: red 1px solid;
}

@media (min-width: $breakpoint-480) {
  .bookCollection {
    font-size: $font-size-medium;
  }
}
