.collection_button {
  display: block;
  background-color: $fourth-color;
  padding: 5px;
  position: relative;
  overflow: hidden;
  color: $apps_background;
  // cursor: pointer;
  // margin-top: 20px;
  text-align: center;
  font-size: $font-size-basic;
  text-transform: uppercase;
  // transition: 0.5s;
}
