.filter_category {
  flex-basis: 90%;
  margin-top: 5px;
  &_legend {
    text-transform: capitalize;
    padding-bottom: 0px;
    margin: 3px 0 5px;
    border-bottom: 1px solid;
    font-size: $font-size-p;
  }
  &_item {
    margin-top: 2px;
    label {
      font-size: $font-size-p;
      input {
        font-size: $font-size-p;
      }
    }
  }
}
