.bookCollection__list {
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &_element {
    flex-basis: 90%;
    font-size: $font-size-p;
    margin-bottom: 15px;
    letter-spacing: 0.25px;
  }
}

@media (min-width: $breakpoint-700) {
  .publishers {
    align-items: center;
    justify-content: space-between;
    > div {
      flex-basis: 40%;
    }
  }
}

@media (min-width: $breakpoint-1025) {
  .bookCollection__list {
    &_element {
    }
  }
  .publishers {
    > div {
      flex-basis: 30%;
    }
  }
}
