.book_collection__list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // background-color: aliceblue;
  &_element {
    flex-basis: 95%;
    font-size: $font-size-basic;
    & + .book_collection__list_element {
      margin-top: 5px;
    }
    // letter-spacing: 0.25px;

    a.router-link {
    }
  }
}

@media (min-width: $breakpoint-360) {
  .book_collection__list {
    font-size: $font-size-medium;

    &_element {
      font-size: $font-size-medium;
    }
  }
}
