.navigation {
  margin: 10px auto;

  &_ul {
    display: flex;
    justify-content: space-evenly;
    li {
      text-align: center;
      font-size: $font-size-basic;
      a {
        padding: 3px;
        font-weight: bold;
        color: $fourth-color;

        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        transition: 0.25s;
        &.active {
          background-color: $fourth-color;
          color: $apps_background;
          transition: 0.4s;
        }
        // &:hover {
        //   background-color: rgba($fourth-color, 0.9);
        //   color: rgba($apps_background, 0.7);
        // }
      }
    }
  }
}
@media (min-width: $breakpoint-360) {
  .navigation {
    &_ul {
      li {
        font-size: $font-size-medium;
      }
    }
  }
}
