.bookCollection__newRecords {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  &_item {
    flex-basis: 70%;
  }
}

.addAuthor,
.addBookSeries,
.addGenre,
.addPublisher,
.addTranslator {
  width: 90%;
  margin: 0 auto;
  form {
    width: 100%;
    margin: 10px auto 0;
    h5 {
      width: 100%;
      margin: 15px auto 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: $font-size-h5;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & + div {
        margin-top: 2px;

        &:nth-last-child(1) {
          margin-top: 20px;
        }
        &.address {
          display: flex;
          flex-wrap: wrap;
          p {
            text-align: center;
            flex-basis: 100%;
            text-transform: uppercase;
            font-size: $font-size-p;
            padding-bottom: 1px;
            margin: 10px auto 5px;
            border-bottom: 1px solid currentColor;
          }
          div.address_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 100%;
            margin-top: 2px;
          }
        }
      }
      label {
        font-size: $font-size-p;
        flex-basis: 35%;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      input {
        font-size: $font-size-p;
        min-width: 0;
        padding-left: 5px;
        flex-basis: 60%;
      }
    }
  }
}

@media (min-width: $breakpoint-700) {
  .bookCollection__newRecords {
    justify-content: space-evenly;
    &_item {
      flex-basis: 30%;
    }
  }
}
