.bookCollection__search {
  margin: 10px auto 15px;
  width: 80%;

  &__searchBox {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
    &_dropdown {
      flex-basis: 25%;
      border-right: 2px solid #dde2f1;
      color: $apps_background;
      position: relative;
      &_default {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-size: $font-size-medium;
      }
      ul {
        position: absolute;
        top: 35px;
        z-index: 1;
        left: 0;
        background: #fff;
        width: 70%;
        border-radius: 5px;
        padding: 20px;
        display: none;
        box-shadow: 8px 8px 6px -10px #b3c6ff;

        &.active {
          display: block;
        }
        li {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
          &:hover {
            color: #6f768d;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -20%;
        right: 10%;
        border: 8px solid;
        border-color: #5078ef transparent transparent transparent;
      }
    }
    &_searchField {
      flex-basis: 60%;
      height: 100%;
      position: relative;
      &_input {
        outline: none;
        width: 100%;
        height: 100%;
        border: none;
        font-size: $font-size-medium;

        padding-left: 20px;
        padding-right: 38px;
        color: $apps_background;
      }
      .fas {
        // background-color: #9fa3b1;
        position: absolute;
        top: 1px;
        right: 10%;

        font-size: calc($font-size-medium * 1.1);
        color: #5078ef;
      }
      &_results {
        width: 80%;
        display: none;
        position: absolute;
        top: 35px;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 8px 8px 6px -10px #b3c6ff;
        color: $apps_background;
        font-size: $font-size-basic;
        &.active {
          display: block;
          z-index: 1;
        }

        &_item {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
          &:hover {
            color: #6f768d;
          }
        }
      }
    }
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa3b1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa3b1;
}
