.single_record {
  div:nth-child(1) {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h4 {
      flex-basis: 100%;
      margin-bottom: 5px;
      font-size: $font-size-medium;

      text-align: center;
    }
    div:nth-child(2) {
      flex-basis: 95%;
      margin: 5px 0 10px;

      div:nth-child(1) {
        margin: 0 auto;
        width: 100px;
        height: 150px;
        border: 1px green solid;

        img {
        }
      }
    }
    div:nth-child(3) {
      flex-basis: 95%;
      p {
        font-size: $font-size-basic;
        margin-bottom: 3px;

        span {
          margin-left: 5px;
          a {
            display: inline;
            margin-right: 2px;
          }
        }
      }
    }
    div:nth-child(4) {
      flex-basis: 95%;
      h5 {
        width: 100%;
        margin-top: 20px;
        font-size: $font-size-medium;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
  }
  .author {
    &__data {
      &_nationality {
        text-transform: capitalize;
      }
    }
  }
}
@media (min-width: $breakpoint-360) {
  .single_record {
    div:nth-child(1) {
    }
  }
}
