.userActions {
  width: 100%;
  margin: 20px auto;
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > div {
      margin-top: 10px;
      flex-basis: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_element-status {
    }
    &_element-coverType {
      label {
        line-height: 16px;
      }
      div {
        display: flex;
        align-items: center;
        label {
          margin-right: 5px;
        }
        input {
        }
      }
    }
    &_element-editions {
      justify-content: space-evenly;
      label {
        flex-basis: 20%;
      }
      div {
        flex-basis: 35%;
        input {
          margin-left: 5px;
          line-height: 16px;
        }
      }
    }
    &_element-price {
      div {
        flex-basis: 45%;
        label {
          margin-right: 5px;
        }
        input {
          line-height: 16px;
        }
      }
    }

    &_element-submit {
      flex-basis: 100%;
    }
  }
}
