.scroller__business {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    flex-basis: 90%;
    margin-top: 1vh;
    font-size: $font-size-large;
    color: $fifth-color;
    text-align: center;
    text-transform: uppercase;
  }
  &_skills {
    div {
      margin: 0 8vw 0 2vw;
      h4 {
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
        font-size: $font-size-medium;
        line-height: calc($font-size-medium * 1.1);
        letter-spacing: 0.25px;
        text-align: justify;
        color: $fifth-color;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        li {
          color: rgba($color: $fifth-color, $alpha: 0.8);
          text-indent: 10px;
          font-size: $font-size-medium;
        }
      }
    }
  }
  &_contact {
    flex-basis: 90%;

    h5 {
      border-bottom: 1px solid black;
      font-size: $font-size-large;
      color: $fifth-color;
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        flex-basis: 18%;
        margin: 10px 0 0;
      }
    }
  }
}

@media (min-width: $breakpoint-360) {
  .scroller__business {
    h3 {
      margin-top: 20px;
      font-size: $font-size-headings;
    }
    &_skills {
      div {
        ul {
          justify-content: space-evenly;
          li {
            flex-basis: 85%;
            letter-spacing: 0.5px;
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $breakpoint-480) {
  .scroller__business {
    h3 {
      font-size: 7vw;
    }
    &_skills {
      div {
        h4 {
          font-size: $font-size-large;
          line-height: calc($font-size-large * 1.1);
        }
        ul {
          li {
            font-size: $font-size-large;
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;
      h5 {
        font-size: $font-size-headings;
      }
      ul {
        li {
          flex-basis: 10%;
        }
      }
    }
  }
}

@media (min-width: 540px) and (min-height: 720px) {
  .scroller__business {
    &_skills {
      div {
        h4 {
          font-size: $font-size-large;
          line-height: calc($font-size-large * 1.1);
        }
        ul {
          justify-content: space-between;
          li {
            flex-basis: 40%;
            font-size: $font-size-large;
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;
      h5 {
        font-size: $font-size-headings;
      }
      ul {
        li {
          flex-basis: 10%;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-700) {
  .scroller__business {
    h3 {
      margin-top: 3vh;
      font-size: 8vw;
    }
    &_skills {
      div {
        h4 {
          border-bottom: 1.5px solid black;
          font-size: $font-size-huge;
          line-height: calc($font-size-huge * 1.1);
        }
        ul {
          justify-content: space-between;
          margin-bottom: 10px;
          li {
            margin-top: 3px;
            font-size: $font-size-huge;
          }
        }
      }
    }
    &_contact {
      h5 {
        border-bottom: 1.5px solid black;
        font-size: $font-size-huge;
      }
      ul {
        li {
          flex-basis: 15%;
          margin: 30px 0 0;
        }
      }
    }
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .scroller__business {
    h3 {
      margin-top: 3vh;
      font-size: $font-size-headings;
    }
    &_skills {
      div {
        margin: 0 8vw 0 2vw;
        h4 {
          border-bottom: 1.5px solid black;

          font-size: $font-size-large;
          line-height: calc($font-size-large * 1.1);
        }
        ul {
          justify-content: space-between;

          li {
            flex-basis: 40%;

            font-size: $font-size-large;
          }
        }
      }
    }
    &_contact {
      flex-basis: 90%;

      h5 {
        border-bottom: 1.5px solid black;
        font-size: $font-size-headings;
      }
      ul {
        justify-content: space-evenly;
        li {
          flex-basis: 6%;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-1201) {
  .scroller__business {
    &_skills {
      flex-basis: 90%;
    }
  }
}
