.scroller__business {
  // max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  h2 {
    margin-top: 20px;
    flex-basis: 100%;
    // margin-top: 1vh;
    // color: $fifth-color;
    text-align: center;
    text-transform: uppercase;
  }
  &_skills {
    div {
      max-width: 1000px;
      margin: 0 8vw 0 2vw;
      h4 {
        width: 100%;
        border-bottom: 1px solid $scroller-text-color;
        margin-bottom: 5px;
        letter-spacing: 0.25px;
        text-align: justify;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        li {
          text-indent: 10px;
          font-size: $font-size-p;
        }
      }
    }
  }
  &_contact {
    flex-basis: 100%;

    h3 {
      border-bottom: 1px solid $scroller-text-color;

      // color: $fifth-color;
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      li {
        flex-basis: 12%;
        margin: 10px 0 0;
        color: $scroller-text-color;
      }
    }
  }
}

@media (min-width: $breakpoint-360) {
  .scroller__business {
    h2 {
      // margin-top: 20px;
    }
    &_skills {
      div {
        ul {
          justify-content: space-evenly;
          li {
            flex-basis: 85%;
            letter-spacing: 0.5px;
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $breakpoint-480) {
  .scroller__business {
    &_skills {
      div {
        ul {
          li {
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;

      ul {
        li {
          flex-basis: 10%;
        }
      }
    }
  }
}

@media (min-width: 540px) and (min-height: 720px) {
  .scroller__business {
    &_skills {
      div {
        ul {
          justify-content: space-between;
          li {
            flex-basis: 40%;
          }
        }
      }
    }
    &_contact {
      margin-bottom: 10px;

      ul {
        li {
          flex-basis: 10%;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-700) {
  .scroller__business {
    h3 {
      margin-top: 3vh;
    }
    &_skills {
      div {
        ul {
          justify-content: space-between;
          margin-bottom: 10px;
          li {
            margin-top: 3px;
          }
        }
      }
    }
    &_contact {
      ul {
        li {
          flex-basis: 15%;
          margin: 30px 0 0;
        }
      }
    }
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .scroller__business {
    h3 {
      margin-top: 3vh;
    }
    &_skills {
      div {
        margin: 0 8vw 0 2vw;

        ul {
          justify-content: space-between;

          li {
            flex-basis: 40%;
          }
        }
      }
    }
    &_contact {
      flex-basis: 100%;

      ul {
        justify-content: space-evenly;
        max-width: 1200px;

        li {
          flex-basis: 3%;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-1201) {
  .scroller__business {
    &_skills {
      div {
        margin: 0 auto;
        width: 100%;
      }
      flex-basis: 90%;
    }
  }
}
