.scroller__business {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    padding-top: 5px;
    // flex-basis: 95%;
    font-size: $font-size-headings;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: $fifth-color;
  }
  &_skills {
    flex-grow: 1;
    flex-basis: 90%;

    // padding: 20px;
    h4 {
      border-bottom: 1px solid black;
      margin: 5px 0 3px;
      padding-bottom: 2px;
      font-size: $font-size-medium;
      line-height: calc($font-size-medium * 1.1);
      letter-spacing: 0.25px;
      text-align: justify;
      color: $fifth-color;
    }
    ul {
      width: 90%;
      margin: 0 auto;
      li {
        font-size: $font-size-medium;
        color: rgba($color: $fifth-color, $alpha: 0.8);
        text-indent: 10px;
        width: 80%;
        padding-bottom: 1px;
        letter-spacing: 0.5px;
      }
    }
  }
  &_contact {
    flex-basis: 90%;

    h5 {
      border-bottom: 1px solid black;
      font-size: $font-size-large;
      color: $fifth-color;
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: space-between;

      li {
        color: rgba($color: $fifth-color, $alpha: 0.8);
        flex-basis: 32%;
        padding: 5px 0 0;
        font-size: $font-size-medium;
      }
    }
  }
}
