.scroller__homepage {
  height: 100vh;
  background-image: url('../../../public/dreams-2904682.jpg');
  background-size: cover;
  background-position: center;

  &_title {
    position: relative;
    top: 28vh;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $third-color;
    &_h1 {
      font-family: $font-heading;
      font-size: 11vw;
      line-height: calc(11vw * 1.2);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    &_h2 {
      font-size: 6vw;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}

@media (min-width: 540px) and (min-height: 720px) {
  .scroller__homepage {
    &_title {
      top: 20vh;
    }
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .scroller__homepage {
    &_title {
      top: 9vh;

      &_h1 {
        font-size: 10vw;
        line-height: calc(10vw * 1.2);
      }
    }
  }
}
@media (min-width: $breakpoint-1025) {
  .scroller__homepage {
    &_title {
      top: 17%;
    }
  }
}

@media (min-width: $breakpoint-1025) {
  .scroller__homepage {
    &_title {
      top: 12%;
      &_h1 {
        font-size: 7vw;
        line-height: calc(7vw * 1.2);
      }
      &_h2 {
        font-size: 4vw;
      }
    }
  }
}
