.scroller__projects {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	h2 {
		width: 100%;
		margin: 10px 0;
		text-align: center;
		text-transform: uppercase;
	}
	&_container {
		margin-bottom: 15px;
		h3 {
			margin-bottom: 5px;
			text-align: center;
			text-transform: uppercase;
		}
		div {
			width: 50%;
			margin: 0 auto;
			a {
				cursor: none;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		p {
			width: 90%;
			text-align: justify;
			margin: 5px auto 5px;
		}
	}
}

@media (min-width: $breakpoint-480) {
	.scroller__projects {
		&_container {
			div {
				// width: 60%;
			}
		}
	}
}
@media (min-width: $breakpoint-700) {
	.scroller__projects {
		h2 {
			margin-top: 10px;
		}
		&_container {
			width: 95%;
			display: flex;
			margin: 0 auto 25px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;
			h3 {
				flex-basis: 100%;
				margin-bottom: 10px;
			}
			div {
				flex-basis: 35%;
				margin: 0;
			}
			p {
				flex-basis: 50%;
				margin: 0;
			}
		}
	}
}
@media (min-width: $breakpoint-1024) {
	.scroller__projects {
		h2 {
			margin-top: 25px;
		}
		&_container {
			h3 {
			}
			div {
				// flex-basis: 40%;
			}
			p {
				// flex-basis: 45%;
			}
		}
	}
}

@media (min-width: $breakpoint-1400) {
	.scroller__projects {
		h2 {
			margin-top: 20px;
		}
		&_container {
			div {
				flex-basis: 35%;
			}
			p {
				flex-basis: 55%;
			}
		}
	}
}
