.scroller {
  background: rgba($color: $fourth-color, $alpha: 0.3);

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 43vh;
    bottom: 43vh;
    right: 1.5vw;
    left: 96.5vw;

    li {
      background-color: $fourth-color;
      width: 3.5vw;
      height: 3.5vw;
      border-radius: 50%;

      &.active {
        background-color: $main-color;
      }
    }
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .scroller {
    &__navigation {
      top: 35vh;
      bottom: 35vh;
    }
  }
}

@media (min-width: $breakpoint-1025) {
  .scroller {
    &__navigation {
      right: 2vw;
      left: 96vw;
      li {
        width: 3vw;
        height: 3vw;
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          background-color: rgba($color: $fourth-color, $alpha: 0.5);
        }
      }
    }
  }
}
