.scroller {
  background: rgba($color: $fourth-color, $alpha: 0.3);

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 43vh;
    bottom: 43vh;
    right: 3vw;
    left: 95vw;

    li {
      background-color: $fourth-color;
      width: 3.5vw;
      height: 3.5vw;
      border-radius: 50%;

      &.active {
        background-color: $main-color;
      }
    }
  }
  // &:hover {
  //   cursor: pointer;
  //   background-color: $third-color;
  // }
}
