.scroller__business_slider {
  flex-basis: calc(3 * 48px + 3 * 10px);
  margin-top: 5px;
  overflow: hidden;
  display: flex;

  div {
    display: block;
    margin-right: 10px;
    animation: slider 10s linear infinite;
    animation-delay: 2s;
  }
}
@keyframes slider {
  // 4% {
  //   transform: translateX(calc(-48px - 10px));
  // }
  // 8% {
  //   transform: translateX(calc(-48px - 10px));
  // }
  // 12% {
  //   transform: translateX(calc((-48px - 10px) * 2));
  // }
  // 16% {
  //   transform: translateX(calc((-48px - 10px) * 2));
  // }
  // 20% {
  //   transform: translateX(calc((-48px - 10px) * 3));
  // }
  // 24% {
  //   transform: translateX(calc((-48px - 10px) * 3));
  // }
  // 28% {
  //   transform: translateX(calc((-48px - 10px) * 4));
  // }
  // 32% {
  //   transform: translateX(calc((-48px - 10px) * 4));
  // }
  // 36% {
  //   transform: translateX(calc((-48px - 10px) * 5));
  // }
  // 40% {
  //   transform: translateX(calc((-48px - 10px) * 5));
  // }
  // 44% {
  //   transform: translateX(calc((-48px - 10px) * 6));
  // }
  // 48% {
  //   transform: translateX(calc((-48px - 10px) * 6));
  // }
  // 52% {
  //   transform: translateX(calc((-48px - 10px) * 7));
  // }
  // 56% {
  //   transform: translateX(calc((-48px - 10px) * 7));
  // }
  // 60% {
  //   transform: translateX(calc((-48px - 10px) * 8));
  // }
  // 64% {
  //   transform: translateX(calc((-48px - 10px) * 8));
  // }
  // 68% {
  //   transform: translateX(calc((-48px - 10px) * 9));
  // }
  // 72% {
  //   transform: translate(calc((-48px - 10px) * 9), 0);
  // }
  // 73% {
  //   transform: translate(calc((-48px - 10px) * 9), -100px);
  // }
  // 74% {
  //   transform: translate(calc((48px + 10px) * 3), -100px);
  // }
  // 75% {
  //   transform: translate(calc((48px + 10px) * 3), 0);
  // }
  // 76% {
  //   transform: translate(calc((48px + 10px) * 3), 0);
  // }
  // 80% {
  //   transform: translateX(calc((48px + 10px) * 3));
  // }
  // 84% {
  //   transform: translateX(calc((48px + 10px) * 2));
  // }
  // 88% {
  //   transform: translateX(calc((48px + 10px) * 2));
  // }
  // 92% {
  //   transform: translateX(calc(48px + 10px));
  // }
  // 96% {
  //   transform: translateX(calc(48px + 10px));
  // }

  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(calc((-48px - 10px) * 3));
  }
  20% {
    transform: translateX(calc((-48px - 10px) * 3));
  }
  30% {
    transform: translateX(calc((-48px - 10px) * 6));
  }
  40% {
    transform: translateX(calc((-48px - 10px) * 6));
  }
  50% {
    transform: translateX(calc((-48px - 10px) * 9));
  }
  60% {
    transform: translate(calc((-48px - 10px) * 9), 0);
  }
  61% {
    transform: translate(calc((-48px - 10px) * 9), 0);
  }
  65% {
    transform: translate(calc((-48px - 10px) * 9), -100px);
  }
  69% {
    transform: translate(calc((48px + 10px) * 3), -100px);
  }
  70% {
    transform: translate(calc((48px + 10px) * 3), 0);
  }
  80% {
    transform: translate(calc((48px + 10px) * 3));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
