.scroller__welcome_message {
  height: 100vh;
  &_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    div {
      .image_container {
        padding-top: 1vh;
        padding-right: 3vw;
        float: left;
        height: 30vh;
        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
      p {
        padding-top: 1vh;
      }
    }
    p {
      margin-bottom: 10px;
      color: $fifth-color;
      text-align: justify;
      letter-spacing: 0.5px;
    }
  }
}
