.scroller__welcome_message {
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  &_container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    // width: 85%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    // padding-top: 20px;
    div {
      margin-top: 20px;
      .image_container {
        padding-top: 1vh;
        padding-right: 3vw;
        float: left;
        height: 30vh;
        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
      p {
        padding-top: 1vh;
      }
    }
    p {
      flex-basis: 12%;
      // margin-bottom: 5px;
      // color: $fifth-color;
      text-align: justify;
      letter-spacing: 0.5px;
      font-size: $font-size-p;
    }
  }
}

@media (min-width: $breakpoint-360) {
  .scroller__welcome_message {
    &_container {
      justify-content: flex-start;
      div {
        margin-bottom: 10px;
        p {
          margin-top: 5vh;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-1400) {
  .scroller__welcome_message {
    &_container {
      max-width: 800px;
    }
  }
}
