footer.footer {
  flex-basis: 6%;
  flex: 1;
  position: relative;
  bottom: 0;
  left: 0;

  div {
    width: 100%;
    border-top: 1px solid $fourth-color;
    color: $fourth-color;
    span {
      display: block;
      margin-top: 5px;
      font-size: $font-size-small;
      letter-spacing: 1.75px;
      text-align: center;
    }
    a {
      font-size: $font-size-small;
      text-align: center;
    }
  }
}
