header {
  width: 100%;
  flex-basis: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px 0 10px;
  background-color: $apps_background;
  border-bottom: 1px solid $fourth-color;
  color: $fourth-color;

  a {
    color: $fourth-color;
    text-decoration: none;
    span.header {
      display: block;
      margin: auto 0;
      font-family: Monoton;
      font-size: $font-size-basic;
      text-transform: uppercase;
      text-align: center;

      letter-spacing: 0.5px;
    }
  }
}

@media (min-width: $breakpoint-360) {
  header {
    a {
      span.header {
        font-size: $font-size-medium;
      }
    }
  }
}
