header {
  width: 100%;
  background-color: $apps_background;
  width: 100%;
  flex-basis: 10vh;
  border-bottom: 1px solid $fourth-color;
  a {
    text-decoration: none;
  }
  span {
    display: block;
    line-height: 10vh;
    text-transform: uppercase;
    text-align: center;
    font-family: Monoton;
    font-size: $font-size-large;
    color: $fourth-color;
    letter-spacing: 4px;
  }
}
