body {
  font-family: $font-basic;
  font-size: $font-size-basic;

  #root {
    display: flex;
    flex-direction: column;
  }
  #apps {
    background-color: $apps_background;
    color: $fourth-color;
    flex-basis: 85vh;
    flex-grow: 1;
  }
}
