$main-color: #bcf7ff;
$second-color: #e67eb3;
$third-color: #67d7e6;
$fourth-color: #e6d450;
$fifth-color: #726a30;

$font-size-basic: 14px;
$font-size-medium: 20px;
$font-size-large: 26px;
$font-size-headings: 32px;
$font-basic: 'Kanit', Arial, Helvetica, sans-serif;
