div.welcome_message {
  height: 100vh;
  background-image: url('../../public/waterfall.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  // div {
  //   // display: flex;
  //   flex-wrap: wrap;
  //   position: absolute;
  //   background-color: antiquewhite;
  //   justify-content: space-between;
  //   // top: 25vh;
  //   // bottom: 25vh;
  //   // right: 20vw;
  //   // left: 20vw;
  div.message_container {
    position: fixed;
    background: rgba($color: #bcf7ff, $alpha: 0.3);
    border-radius: 30% 5%;
    top: 3vh;
    left: 2vw;
    right: 50vw;
    p {
      color: $fifth-color;
      padding: 3vw;

      text-align: center;
      font-size: $font-size-large;
      line-height: 2.75vw;
      letter-spacing: 1.25px;
    }
  }

  div.vertical_button {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.6);
    top: 3vh;
    bottom: 3vh;
    right: 10vw;
    left: 86vw;
    cursor: pointer;
    transition: 0.3s;

    p {
      margin: 0 auto;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-weight: bold;
      color: $third-color;
      text-transform: uppercase;
      font-size: $font-size-large;
      &:hover {
        color: $main-color;
      }
    }

    // }
  }
}
